.cards {
    background-color: violet;
    color: rgb(38, 38, 38);
}

.maps {
    background-color: chartreuse;
    color: rgb(38, 38, 38);
}

.decks {
    background-color: aqua;
    color: rgb(38, 38, 38);
}

.quiz {
    background-color: cadetblue;
    color: rgb(38, 38, 38);
}

.header {
    background-color: red;
    color: rgb(38, 38, 38);
}

